.scientific {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  /* height: 100vh; */
  margin-top: 80px;
  width: 100%;
}

.calc-wrapper {
  width: 650px;
  height: 500px;
}

.row {
  display: flex;
  width: 100%;
  margin: 0;
}

button {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(250, 249, 249, 0.52);
  color: black;
  /* font-weight: normal; */
  flex: 1;
  outline: 2px solid #f3f0f0f1;
  /* font-weight: lighter; */
}
